<div class="container">
  <div class="row">
    <h1>What is this thing?</h1>
    <p class="lead">
      Have you ever had this problem? You have a set of coordinates and you know
      where they are (building, intersection, etc.) but you have no idea in what
      projection they are. Don't you wish you could try every projection in
      existance and see what lines up? Now you can, Enter the Projective Detective!
    </p>
  </div>

  <div class="row">
    <h2>Enter Info</h2>
    <form role="form" ng-submit="findProjections()">
      <h5>
        Enter the unknown coordinates. These are the coodinates that have an
        unknown projection.
      </h5>
      <div class="form-group">
        <label for="inputformX">Unknown X</label>
        <input type="text" class="form-control" id="inputformX"
          ng-model="inputform.x" placeholder="Unknown X">
      </div>
      <div class="form-group">
        <label for="inputformY">Unknown Y</label>
        <input type="text" class="form-control" id="inputformY"
          ng-model="inputform.y" placeholder="Unknown Y">
      </div>
      <h5>
        Enter the known location in WGS84 Lat/Lng. This should be in decimal degrees.
      </h5>
      <div class="form-group">
        <label for="inputformLat">Known Lat</label>
        <input type="text" class="form-control" id="inputformLat"
          ng-model="inputform.lat" placeholder="Known Lat">
      </div>
      <div class="form-group">
        <label for="inputformLng">Known Lng</label>
        <input type="text" class="form-control" id="inputformLng"
          ng-model="inputform.lng" placeholder="Known Lng">
      </div>
      <div class="form-group">
        <label for="inputformNumberOfMatches">
          Number of Matches to return
        </label>
        <select class="form-control" id="inputformNumberOfMatches"
            ng-model="inputform.numberOfMatches"
            ng-options="item for item in numberOptions">
        </select>
      </div>
      <input type="submit" class="btn btn-primary" value="Find">
    </form>
  </div>

  <div class="row">
    <h2>Possible Matches</h2>
    <p>
      The number in parenthesis at the end is the distance in meters between the
      unknown point, projected in the given coordinate system, and the
      known Lat/Lng location. Smaller is better.
    </p>
    <ul>
      <li ng-repeat="(key, value) in matches">
      {{key}} ({{value}})
      </li>
    </ul>
  </div>

</div>
